@import './utilities/mixins.scss';
@import './base/typography.scss';

.textType1 {
  --color: var(--secondary-700);
  --font-size: var(--font-size-24);

  @include screen-min-md() {
    --color: var(--primary-500);
    --font-size: var(--font-size-16);
  }
}

.textType2 {
  --color: var(--neutral-800);
  --font-size: var(--font-size-40);
}

.customText {
  color: var(--color);
  font-size: var(--font-size);
}
