@import './styles.scss';

.teste {
  background-color: var(--color-secondary);
  margin-left: var(--space-24);
}

.item1 {
  color: var(--color-neutral-5);
  @include text-sm();

  @include screen-min-sm() {
    color: red;
    @include text-xs();
  }

  @include screen-min-md() {
    color: blue;
  }
}
