@import './styles.scss';

.teste {
  background-color: var(--gray-400);
  margin-left: var(--36px);
}

.item1 {
  color: var(--fuchsia-800);
  @include text-sm();

  @include screen-min-sm() {
    color: var(--gray-800);
    @include text-xs();
  }

  @include screen-min-md() {
    color: var(--red-800);
  }
}
