:root {
  /* Core units */
  --base-unit: 0.25rem;
  --base-half-unit: calc(var(--base-unit) / 2);
  /* Typography */
  /* Fonts */
  --font-family-primary: sans-serif;
  --font-family-secondary: serif;
  --font-base-unit: var(--base-unit);
  /* Font sizes - 4x4 grid */
  --font-size-12: calc(var(--font-base-unit) * 3);
  --font-size-16: calc(var(--font-base-unit) * 4);
  --font-size-20: calc(var(--font-base-unit) * 5);
  --font-size-24: calc(var(--font-base-unit) * 6);
  --font-size-40: calc(var(--font-base-unit) * 10);
  --font-size-48: calc(var(--font-base-unit) * 12);
  --font-size-64: calc(var(--font-base-unit) * 16);
  --line-height-base-unit: 1;
  /* Line heights */
  --line-height-small: calc(var(--line-height-base-unit) * 1.1);
  --line-height-medium: calc(var(--line-height-base-unit) * 1.3);
  --line-height-large: calc(var(--line-height-base-unit) * 1.5);
  /* Font weights */
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-weight-900: 900;
  /* Space */
  --space-base-unit: var(--base-unit);
  /* Margin, Padding - 8x8 grid */
  --space-8: calc(var(--space-base-unit) * 2);
  --space-16: calc(var(--space-base-unit) * 4);
  --space-24: calc(var(--space-base-unit) * 6);
  --space-32: calc(var(--space-base-unit) * 8);
  --space-40: calc(var(--space-base-unit) * 10);
  --space-48: calc(var(--space-base-unit) * 12);
  --space-64: calc(var(--space-base-unit) * 16);

  /* Breakpoints */
  $breakpoint-sm: 640px;
  $breakpoint-md: 768px;
  $breakpoint-lg: 1024px;
  $breakpoint-xl: 1280px;
  $breakpoint-2xl: 1536px;

  /* Color */
  --primary-300: #484848;
  --primary-400: #303030;
  --primary-500: #222222;
  --primary-700: #090909;
  --primary-900: #080808;
  --secondary-300: #fefbf1;
  --secondary-400: #fefbf0;
  --secondary-500: #fffbef;
  --secondary-600: #ffeebc;
  --secondary-700: #fee28f;
  --neutral-100: #ffffff;
  --neutral-200: #eeeeee;
  --neutral-300: #d5d5d5;
  --neutral-400: #bbbbbb;
  --neutral-500: #a1a1a1;
  --neutral-600: #888888;
  --neutral-700: #6f6f6f;
  --neutral-800: #555555;
  --neutral-900: #3c3c3c;
  --neutral-1000: #222222;

  /* Border  */

  /* Border color */
  --border-color-lighter: var(--gray-2);
  --border-color-light: var(--gray-3);
  --border-color: var(--gray-5);
  --border-color-dark: var(--gray-7);
  --border-color-darker: var(--gray-9);

  /* Border radius */
  --border-radius-small: calc(var(--base-unit) * 1);
  --border-radius-medium: calc(var(--base-unit) * 2);
  --border-radius-large: calc(var(--base-unit) * 2);

  /* Transition  */
  --transition-faster: 0.1s;
  --transition-fast: 0.2s;
  --transition-normal: 0.3s;
  --transition-slow: 0.4s;
  --transition-slower: 0.5s;
}
